<div class="mobile-nav-bar title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button"></button>
  </div>
  <div class="title-bar-center">
    <span class="title-bar-text">Beauty by Bootcamp</span>
  </div>
  <div class="title-bar-right">
    <span class="title-bar-text">Home</span>
    <span class="title-bar-text"><a href="#"><i class="fa fa-home title-bar-logo"></i></a></span>
  </div>
</div>



 <br>
  <div class="row" style="margin: 2em 5em 0 5em">
    <div class="medium-6 columns" style="margin-right: 2em">
      <img class="thumbnail"><img style="width:180px; height:180px;" src="/assets/images/product/{{this.product.prod_id}}.jpg">
      
    </div>
    <div class="medium-6 large-5 columns">
      <h3>{{this.product.name}}</h3>
      

      <form action="/purchase/{{this.product.prod_id}}" method="POST">
      <div class="row">
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Inventory</label>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="{{this.product.inventory}}" readonly/>
        </div>
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Quantity</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="quantity" placeholder="Quantity" required/>
        </div>
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Price</label>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="{{this.product.price}}" readonly/>
        </div>


      </div>
      <button  type="submit" class="button large expanded" onclick="submitForm()">Buy Now</button>
      </form>
     
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();

      function submitForm() {
      var quantityEl = ('input[name="quantity"]');
      if(quantity){
      var quantityIsAvailable = {{this.product.inventory}} >= quantity;
      if(quantityIsAvailable){
      // TODO use Jquery  to make sure quantity < this.product.inventory
       // either display alert if not enough quatity OR submit the form via javascript
       alert("we have this available" + {{this.product.inventory}});
       alert('Thank you for shopping with us, and your total is' + ({{this.product.price}} * quantity));
      }
      else {
        alert('Not enough Quantity.')
      }
      }
       
    }





   
  </script> 

  <div class="mobile-bottom-bar">
    <a href="#" class="footer-link">
        <i class="fa fa-cog"></i> <span class='footer-text'>Github</span>
    </a>
    <a href="#" class="footer-link">
        <i class="fa fa-sign-out"></i> <span class='footer-text'>Heroku</span>
    </a>
</div>

<style>

.mobile-nav-bar.title-bar {
  background-color: #987aaa;
  font-family: 'Tangerine', cursive;
  font-size: 2.5em;
}

    .mobile-bottom-bar {
        width: 100%;
        height: 3.778rem;
        background: #987aaa;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .mobile-bottom-bar .footer-link {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: bold;
        padding: 0.907rem 1rem;
    }

    .mobile-bottom-bar .footer-link i.fa {
        opacity: 0.8;
        margin-right: 0.625rem;
        font-size: 1.5rem;
        vertical-align: middle;
    }

    .mobile-bottom-bar .footer-link:focus,
    .mobile-bottom-bar .footer-link:active {
        color: #fff;
    }

    .mobile-bottom-bar .footer-text {
        position: relative;
        top: 2px;
        font-weight: bold;
        font-size: 0.875rem;
        color: #fff;
    }

</style>

  




    