

 <br>
  <div class="row">
    <div class="medium-6 columns">
      <img class="thumbnail"><img style="width:180px; height:180px;" src="/assets/images/product/{{this.product.prod_id}}.jpg">
      
    </div>
    <div class="medium-6 large-5 columns">
      <h3>{{this.product.name}}</h3>
      

      <form action="/purchase/{{this.product.prod_id}}" method="POST">
      <div class="row">
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Inventory</label>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="{{this.product.inventory}}" readonly/>
        </div>
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Quantity</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="quantity" placeholder="Quantity" required/>
        </div>
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Price</label>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="{{this.product.price}}" readonly/>
        </div>


      </div>
      <button  type="submit" class="button large expanded" onclick="submitForm()">Buy Now</button>
      </form>
     
 
  <script>
    $(document).foundation();

      function submitForm() {
      var quantity = ('input[name="quantity"]');
      
       var quantityIsAvailable = {{this.product.inventory}} >= quantity;
      
      // TODO use Jquery  to make sure quantity < this.product.inventory
       // either display alert if not enough quatity OR submit the form via javascript
       alert("we have this available" + {{this.product.inventory}});
       {{!-- alert('Thank you for shopping with us, and your total is' + ({{this.product.price}} * quantity)); --}}
      }
     
    
       
    





   
  </script> 




    