<!--     Project-2 Assignment   -->

{{> header}}
  <h2>{{title}}</h2>
  <div class="container"></div>
  {{#each products}}


    <div class="product-card" style="display: inline-block;">
      <div class="product-card-thumbnail">
        <a href="/item/{{this.prod_id}}"><img style="width:180px;height:250px;" src="/assets/images/product/{{this.prod_id}}.jpg" /></a>
      </div>
      <h2 class="product-card-title"><a href="/item/{{this.prod_id}}">Product Name: {{this.name}} </a> </h2>
      <span class="product-card-desc">Product Description: {{this.department}}</span>
      <span class="product-card-price">${{this.price}}</span><span class="product-card-sale">$12.99</span>
    </div>
  

  {{/each}}
  </div>
  

  <!-- Modal -->

  <div class="containerModal">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
      style="background-color: #987aaa">Leave a Review Here!</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Tell us your thoughts.</h4>
          </div>
          <div class="modal-body">
            <p>FACEBOOK BUTTON WITH API GOES</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>

  
<footer>

  {{> footer}}
</footer>
